.cont-text-title {
  display: flex;
  flex-direction: column;
  height: 68vh;
  justify-content: space-between;
}
.stroke-text-title {
  font-size: var(--text-xxxl);
  color: var(--color-fuente-roja);
}
.container-distribuidores {
  padding: var(--padding-generico-x-y);
  display: flex;

  margin-top: 7rem;
}

.cont-footer-dis {
  padding: var(--padding-generico-x-y);
}
.text-black span {
  font-size: var(--text-medios) !important;
  font-weight: 200 !important;
}
.sub-title-distri,
.title-selector {
  font-weight: 200;
  font-size: var(--text-medios);
}

@media screen and (width <= 1050px) {
  .container-distribuidores {
    flex-direction: column;
  }
  .cont-text-title {
    height: auto;
    margin-bottom: 4rem;
  }
  .stroke-text-title {
    margin-bottom: 2rem;
  }
}

@media screen and (width <= 530px) {
  .responsive-container-dist {
    padding-top: 0rem;
  }
}
@media screen and (width <= 420px) {
  .text-black span,
  .sub-title-distri,
  .title-selector {
    font-size: var(--phone-subtitle-sm) !important;
  }
  .title-selector {
    font-weight: 300;
  }
}
