.container-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container-list-ul {
  margin-top: 5rem;
  padding: 0 2rem;

}
.container-list-ul > li {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  transition: 600ms ease-in-out;
}
.container-list-ul > li:hover {
  color: var(--color-fuente-roja);
}
.dropdown{
  display: none;
}
@media screen and (width <= 800px) {
  .container-list-tipos{
   margin-top: 1rem;
   padding: 1rem;
  }
  .container-list{
    display: none;
  }
  .dropdown{
    display: inline;
    width: 100%;
    
  }
  .ring-gray-300{
    border: 0.5px solid var(--color-fuente-grey);
  }
}