.h2-hero-title {
  font-size: var(--text-grande);
  font-weight: 100;
  color: var(--color-fuente-roja);
}
.sub-title-hero {
  font-size: var(--tablet-main-title);
  font-weight: 100;
  color: var(--color-primary);
  margin-bottom: 1rem;
  text-align: center;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (width <= 800px) {
  .h2-hero-title {
    font-size: var(--tablet-main-title);
  }
  .sub-title-hero {
    font-size: var(--text-medios-card);
  }
}
@media screen and (width <= 530px) {
  .h2-hero-title {
    font-weight: 300;
    font-size: var(--phone-xl-main-title);
  }
  .sub-title-hero {
    font-weight: 200;
  }
}
@media screen and (width <= 420px) {
  .h2-hero-title {
    font-size: var(--phone-sm-main-title);
  }
  .sub-title-hero {
    font-size: var(--phone-subtitle-sm);
  }
  .hero {
    gap: 1rem;
  }
}
