.h2-title-nos {
  color: var(--color-fuente-roja);
  font-size: var(--text-medios-card);
  font-weight: 100;
}
.text-nuestra {
  font-weight: 200;
  font-size: var(--text-medios);
}
.width-circle {
  width: 240px;
  height: 240px;
}
@media screen and (width <= 1024px) {
  .h2-title-nos {
    font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  }

  .text-nuestra {
    font-size: clamp(1rem, 1.8vw, 1.6rem);
  }
}
@media screen and (width <= 768px) {
  .h2-title-nos {
    font-size: clamp(1.6rem, 2.2vw, 2.2rem);
  }

  .text-nuestra {
    font-size: clamp(0.9rem, 1.6vw, 1.4rem);
  }
}
@media screen and (width <= 530px) {
  .h2-title-nos {
    font-weight: 200;
    font-size: clamp(1.4rem, 2vw, 2rem);
  }

  .text-nuestra {
    font-size: clamp(0.85rem, 1.4vw, 1.2rem);
  }
}
@media screen and (width <= 420px) {
  .text-nuestra,
  .h2-title-nos {
    font-size: var(--phone-subtitle-sm);
  }
  .responsive-container-circle {
    flex-direction: column;
  }
}
