@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--color-fondo);
}

:root {
  /* font-size: clamp(1.2rem, 2vw, 2.5rem); */
  --color-fondo: #f6f6f6;
  --color-fuente-black: #2a2a2a;

  --color-fuente-grey: #a4a4a4;
  --color-bg-gray-200: rgb(237, 237, 237);
  --color-fuente-roja: #f53e16;
  --tipo-fuente: 'Roboto', sans-serif;
  --padding-generico-x: 0 clamp(2rem, 7vw, 12rem);
  --padding-generico-y: clamp(2rem, 7vw, 12rem) 0;
  --padding-chico: 1.2rem;
  --padding-tablet: 3rem;
  --padding-generico-x-y: clamp(2rem, 4vw, 5rem) clamp(2.6rem, 10vw, 18rem);
  --padding-generico-x-y-pages-top: clamp(4rem, 10vw, 6rem)
    clamp(2rem, 7vw, 12rem);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gap: 2rem;
  /*----------------- FUENTES--------------- */
  --tablet-main-title: 3.3em;
  --phone-xl-main-title: 2.8em;
  --phone-sm-main-title: 2.2em;
  --phone-subtitle-sm: 18px;
  /* //Subtitulos rojos escritorio y tablet */
  --text-medios-card: clamp(2rem, 2.8vw, 3rem);
  /* //Subtitulos negros escritorio y tablet */
  --text-xxl: clamp(1.8rem, 3vw, 2.8rem);

  /* Textos medios para descripciones */
  --text-medios: clamp(1.2rem, 2vw, 1.8rem);
  /* fin fuentes */
  --text-small: clamp(1rem, 1.2vw, 1.2rem);
  /* Fuentes de Generic hero escritorio */
  --text-grande: clamp(2rem, 7vw, 4rem);
  --text-card-page-product: clamp(1.8rem, 4vw, 2.7rem);
  --text-xxxl: clamp(1.2rem, 3.5vw, 4.5rem);
  --text-menu: clamp(1.2rem, 2vw, 2.5rem);
}

/* LENIS SMOOTH SCROLL */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
