@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--color-fondo);
}

:root {
  /* font-size: clamp(1.2rem, 2vw, 2.5rem); */
  --color-fondo: #f6f6f6;
  --color-fuente-black: #2a2a2a;
  --color-fuente-grey: #a4a4a4;
  --color-bg-gray-200: rgb(237, 237, 237);
  --color-fuente-roja: #f53e16;
  --tipo-fuente: 'Roboto', sans-serif;
  --padding-generico-x: 0 clamp(2rem, 7vw, 12rem);
  --padding-generico-y: clamp(2rem, 7vw, 12rem) 0;
  --padding-chico: 2rem;
  --padding-generico-x-y: clamp(1rem, 3vw, 3.5rem) clamp(2rem, 7vw, 12rem);
  --padding-generico-x-y-pages-top: clamp(4rem, 10vw, 6rem)
    clamp(2rem, 7vw, 12rem);
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gap: 2rem;
  /*----------------- FUENTES--------------- */
  --text-small: clamp(1rem, 1.2vw, 1.2rem);
  --text-medios: clamp(1.2rem, 2vw, 1.8rem);
  --text-medios-card: clamp(1.2rem, 2.5vw, 3rem);
  --text-xxl: clamp(1.2rem, 3vw, 3rem);
  --text-grande: clamp(1.6rem, 3.2vw, 4rem);
  --text-xxxl: clamp(1.2rem, 3.5vw, 4.5rem);
  --text-menu: clamp(1.2rem, 2vw, 2.5rem);
}
