/*----------------- ESTILOS PAGE PRODUCTOS MAIN--------------- */
.wrapper-cont {
  padding: var(--padding-generico-x-y);
}
.container-items {
  width: 50%;
  padding: 0 2rem;
  margin-bottom: 5rem;
}
.container-img-g {
  height: 80vh;
  position: relative;
  width: 100%;
}
.img-class {
  object-fit: cover;
  height: auto;
  width: auto;
}

.mask {
  position: absolute;
  z-index: 2;

  background: linear-gradient(
    180deg,
    rgba(63, 94, 251, 0) 0%,
    rgb(30, 30, 38) 300%
  );
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.title-gallery {
  font-size: var(--text-medios-card);
  margin-left: 0.5rem;
  font-weight: 200;
  padding-top: 2rem;
  color: #fff;
  z-index: 3;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

/* PRODUCTO PARTICULAR */
.img-page-pruct {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
.circulo-load,
.circulo-load-two {
  border: 2px solid blanchedalmond;
  background-color: transparent;
  -webkit-box-shadow: 8px 8px 100px 42px rgba(255, 241, 173, 1);
  -moz-box-shadow: 8px 8px 100px 42px rgba(255, 241, 173, 1);
  box-shadow: 8px 8px 100px 42px rgba(255, 241, 173, 1);
  animation: pulse-shadow 2s infinite ease-in-out;
}
.circulo-load {
  width: 30vh;
  height: 30vh;
  top: 19vh;
  left: 30vh;
}
.circulo-load-two {
  width: 35vh;
  height: 35vh;
  top: 40vh;
  right: 40vh;
}
@keyframes pulse-shadow {
  0% {
    box-shadow: 8px 8px 100px 42px rgba(255, 241, 173, 1);
  }
  50% {
    box-shadow: 8px 8px 120px 70px rgba(255, 241, 173, 0.7);
  }
  100% {
    box-shadow: 8px 8px 100px 42px rgba(255, 241, 173, 1);
  }
}
.container-producto {
  padding: var(--padding-generico-x-y);
  margin-top: 2rem;
}
.h2-page-product {
  font-size: var(--text-xxl);
  font-weight: 400;
  margin-bottom: 2rem;
}
.p-text-product-description,
.p-text-product,
.title-ficha {
  font-weight: 200;
  padding-top: 2rem;
  font-size: var(--text-medios);
}
.title-measure{
  font-weight: 400;
  padding-top: 1rem;
  font-size: var(--text-medios);
}
.p-text-product{
  background-color: var(--color-bg-gray-200);
  border-radius: 20px;
  color: var(--color-fuente-black);
  font-weight: 400;
}
.text-p {
  padding: 1rem 3rem;
}
.selected-button{
  padding: .8rem 2rem;
  border: 1.5px solid var(--color-fuente-roja);
  border-radius: 50px;
}
.button-extra{
  padding: .8rem 2rem;
  background-color: var(--color-bg-gray-200);
  border-radius: 50px;
  margin-right: 1rem;
}
.container-img-product-id{
  border-radius: 20px;
  border: 1px solid var(--color-fuente-grey);
margin-bottom: 3rem;
  overflow: hidden;
}
.container-characteristics{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
}


/* ------------------LOADER---------------- */
.container-load {
  position: fixed;
  z-index: 4;
  height: 200vh;
  width: 100%;
  left: 0;
}
/* //-----------------MEDIA---------------// */
@media screen and (width <= 1000px) {
  .wrapper-cont {
    padding: var(--padding-chico);
  }
  .container-items {
    padding: 0 1rem;
  }
  .responsive-container{
    flex-direction: column;
  }
  .container-items {
    width: 100%;
   
  }
}

@media screen and (width <= 1100px) {
  .circulo-load {
    width: 25vh;
    height: 25vh;
    top: 10vh;
    left: 10vh;
  }
  .circulo-load-two {
    width: 30vh;
    height: 30vh;
    top: 55vh;
    right: 15vh;
  }
}
@media screen and (width <= 800px) {
  .container-characteristics{
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  .container-measure-responsive{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
  }
}