.category-container {
  display: flex;
  padding: var(--padding-generico-x-y);
}
.category-title {
  font-size: var(--text-medios-card);
  color: var(--color-fuente);
  font-weight: 100;
}
.category-categories {
  flex: 1;
}

.category-category {
  margin: 1rem 0;
  cursor: pointer;
  font-weight: 200;
  font-size: var(--text-xxl);
  color: var(--color-fuente-roja);
}

.category-category:hover {
  font-style: italic;
  color: var(--color-fuente);
}

.category-imageContainer {
  position: relative;
  width: 550px;
  height: 550px;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.h2-category {
  font-size: var(--text-xxl);
  font-weight: 200;
  width: 80%;
}
.category-image {
  height: 100%;
  width: 100%;
  object-fit: scale-down !important;
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 8rem;
  left: 2rem;
}

.category-image.visible {
  opacity: 1;
  transform: scale(1.2);
}
@media screen and (width <= 1330px) {
  .category-image {
    /* height: 80%; */
    left: 0;
  }
}
@media screen and (width <= 900px) {
  .category-imageContainer {
    position: relative;
    top: 5rem;
    width: 300px;
    height: 300px;
  }
  .h2-category {
    width: 100%;
  }
}
@media screen and (width <= 750px) {
  .category-imageContainer {
    display: none;
  }
}
@media screen and (width <= 530px) {
  .category-container {
    flex-direction: column;
  }
  .category-categories {
    flex: 0;
  }

  .h2-category {
    font-weight: 300;
  }
  .category-category {
    text-align: start;
  }
  .category-title {
    text-align: start;
    font-weight: 200;
  }
  .category-image {
    height: 20vh;
    width: auto;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 3%;
    top: 0;
  }
}
@media screen and (width <= 420px) {
  .h2-category,
  .category-title {
    font-size: var(--phone-subtitle-sm);
  }
}
