.container-footer {
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-generico-x-y);
}
.linea {
  height: 2px;
  background-color: #fff;
  width: 60%;
  align-self: flex-end;
}
.cont-text-contact-footer {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  font-weight: 200;
}
.cont-text-otros > h3 {
  color: var(--color-fuente-roja);
  font-size: clamp(1.2rem, 3vw, 3.5rem);
  font-weight: 200;
}
.oficinas {
  text-align: end;
  background-color: transparent;
}
.h2-footer {
  font-size: var(--text-grande);
  font-weight: 500;
}
.cont-h2-footer {
  margin-bottom: 1rem;
}
.line-foo {
  height: 2px;
  width: 100%;
  border-radius: 90px;
  background-color: rgb(188, 188, 188);
  margin-bottom: 2rem;
}
@media screen and (width <= 530px) {
  .linea {
    width: 40%;
  }
  .cont-text-contact-footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .oficinas {
    text-align: start;
    margin-top: 1rem;
  }
}
@media screen and (width <= 800px) {
  .container-footer {
    padding: 8%;
    margin-top: 3rem;
  }
  .cont-h2-footer {
    display: flex;
    margin: 0;
  }
}
