.container-nuestraEmp {
  height: 100dvh;
  background-color: var(--color-fondo);
  padding: var(--padding-generico-x-y);
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-textosNuestra {
  overflow: hidden;
}
.titulo {
  display: inline;
  vertical-align: middle;
  color: var(--color-fuente-roja);
  font-size: var(--text-medios-card);
  font-weight: 100;
  width: 60%;
  margin: 0 clamp(10px, 1.5vw, 50px) 0 0;
}
.texto-nuestra {
  line-height: 1.2;
  display: inline;
  font-size: var(--text-xxl);
  vertical-align: middle;
  margin: 0;
  font-weight: 200;
  font-style: normal;
}
.split span {
  display: inline-block;
  transform: translateY(200px);
}
.portadaDos {
  height: 80vh;
  background-image: url('../../../public/imagenes/banner1.png');
  margin-bottom: 5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
@media screen and (width <= 960px) {
  .container-nuestraEmp {
    height: 70dvh;
  }
}
@media screen and (width <= 400px) {
  .texto-nuestra,
  .titulo {
    font-size: var(--text-phone);
  }
}

@media screen and (width <= 530px) {
  .container-nuestraEmp {
    height: 60dvh;
  }
  .titulo {
    font-weight: 300;
  }
  .texto-nuestra {
    line-height: 1.5;
  }
}
